@import "tailwindcss";
 @plugin "daisyui" {
   themes: all;
 }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-thai);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-noto-sans-thai), Arial, Helvetica, sans-serif;
}
